.layout {
  height: 100vh;
  background-color: #ffffff;
}

.header {
  background-color: #ffffff;
  padding: 0;
}

.content {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  padding-left: 10px;
  padding-right: 10px;
}
